* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
    margin-top: 8%;
    
}


#note {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;

}

.cell:hover {
    background-color: #8bd6f7;
}

.cell img {
    width: 80%;
    margin: 8px 0 0 12px;

}

.start-and-restart {
    text-align: center;
    margin-top: 20px;
}

.btn {
    margin:0 10px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#startBtn {
    background-color: #23eba7;
}

#restartBtn {
    background-color: #ecd991;
}


